doctype html

html
  head
    title BuildJS
    link(href="index.css" rel="stylesheet" type="text/css")

  body(ng-app="BuildJS" ng-controller="ExamplesCtrl")
    h1.title(ng-click="goHome()") BuildJS
      .title__tagline a collection of node build scripts.


    div(ng-view)

    script(type="text/ng-template" id="list.template")
      .search
        input.search__input(ng-model="search" ng-list="/[ ]+/")
        .search__terms(ng-show="search")
          .term(
            ng-repeat="term in terms | filter:search"
            style="background-color: {{term | colorify}}"
            ) {{term}}

      .example-preview(
        ng-cloak
        ng-repeat="example in examples | filter:matchTerms"
        )
        a.example-preview__name(href="/BuildJS/{{example.id}}") {{example.package.name}}
        span.example-preview__description {{example.package.description}}
        span.example-preview__author {{example.package.author}}
        .example-preview__dependencies
          span.term(
            ng-repeat="term in example.terms"
            style="background-color: {{term | colorify}};"
          ) {{term}}

    script(type="text/ng-template" id="show.template")
      .example
        h1 {{example.package.name}}
        pre.example__file {{example.file}}

    script(src="index.js")
